
Django==3.2.1
django-colorfield==0.6.3
django-cors-headers==3.10.0
django-countries==7.3.2
django-countries-with-calling-codes==0.1.1
django-environ==0.8.1
django-heroku==0.3.1
django-js-asset==2.0.0
django-mptt==0.13.4
django-phonenumber-field==6.0.0
django-rest-auth==0.9.5
django-rest-knox==4.1.0
django-rest-swagger==2.2.0
django-templated-mail==1.1.1
django-utils-six==2.0
djangorestframework==3.12.4
djangorestframework-queryfields==1.0.0
djangorestframework-simplejwt==4.8.0
drf-writable-nested==0.6.3
drf-yasg==1.20.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.4.2
gunicorn==20.1.0
psycopg==3.0.14
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.21
requests==2.27.1
ruamel.yaml.clib==0.2.6
simplegeneric==0.8.1
simplejson==3.17.6
virtualenv==20.13.0
virtualenvwrapper-win==1.2.7
